flows/Associa_Ev_m_dia_ao_time_de_oportunidade-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Postar_no_chatter_para_EV_MM</name>
        <label>Postar no chatter para EV MM</label>
        <locationX>574</locationX>
        <locationY>411</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>IdDaOportunidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MensagemDoPost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IdDoPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Postar_no_chatter_para_EV_MM_0</name>
        <label>Postar no chatter para EV MM</label>
        <locationX>141</locationX>
        <locationY>283</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>IdDaOportunidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MsgDoPostSemEV</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IdDoPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Associacao_do_EV_MM_ao_time_da_oportunidade</name>
        <label>Associacao do EV MM ao time da oportunidade</label>
        <locationX>364</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeam.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdDaOportunidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeam.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvMall_Midia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeam.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inclui_Ev_MM_no_time_da_oportunidade</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verifica_se_existe_Ev_MM</name>
        <label>Verifica se existe Ev MM</label>
        <locationX>361</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existe_Ev_MM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvMall_Midia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleciona_dados_do_EV_de_midia</targetReference>
            </connector>
            <label>Existe Ev MM</label>
        </rules>
        <rules>
            <name>Nao_existe_Ev_MM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvMall_Midia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Postar_no_chatter_para_EV_MM_0</targetReference>
            </connector>
            <label>Não existe Ev MM</label>
        </rules>
    </decisions>
    <interviewLabel>Associa Ev mídia ao time de oportunidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associa Ev mídia ao time de oportunidade</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Inclui_Ev_MM_no_time_da_oportunidade</name>
        <label>Inclui Ev MM no time da oportunidade</label>
        <locationX>576</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Postar_no_chatter_para_EV_MM</targetReference>
        </connector>
        <inputReference>OpportunityTeam</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recupera_dados_da_oportunidade</name>
        <label>Recupera dados da oportunidade</label>
        <locationX>358</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleciona_dados_da_equipe</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidade.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdDaOportunidade</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroDaOportunidade</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdProprietarioOportunidade</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShoppingDaOportunidade</assignToReference>
            <field>TW1_Shopping__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Seleciona_dados_da_equipe</name>
        <label>Seleciona dados da equipe</label>
        <locationX>360</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_se_existe_Ev_MM</targetReference>
        </connector>
        <filters>
            <field>TW1_Atuacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executivo de Mall &amp; Mídia</stringValue>
            </value>
        </filters>
        <filters>
            <field>TW1_Shopping__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShoppingDaOportunidade</elementReference>
            </value>
        </filters>
        <object>TW1_Equipe_Vendas__c</object>
        <outputAssignments>
            <assignToReference>EvMall_Midia</assignToReference>
            <field>TW1_Usuario__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Seleciona_dados_do_EV_de_midia</name>
        <label>Seleciona dados do EV de mídia</label>
        <locationX>363</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associacao_do_EV_MM_ao_time_da_oportunidade</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EvMall_Midia</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NomeEvMall_Midia</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Recupera_dados_da_oportunidade</startElementReference>
    <textTemplates>
        <name>MensagemDoPost</name>
        <text>@[{!EvMall_Midia}] , a proposta {!NumeroDaOportunidade} possui uma oportunidade de mídia!
Favor verificar</text>
    </textTemplates>
    <textTemplates>
        <name>MsgDoPostSemEV</name>
        <text>A oportunidade possui mídia inaugural</text>
    </textTemplates>
    <variables>
        <name>EvMall_Midia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDaOportunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDoPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidade</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IdProprietarioOportunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeEvMall_Midia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroDaOportunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
    <variables>
        <name>ShoppingDaOportunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
