flows/Conversor_de_Prospect-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Pessoa_fisica</name>
        <choiceText>Pessoa física</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pessoa_juridica</name>
        <choiceText>Pessoa jurídica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>ContatoComercialRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122F0000004h78</stringValue>
        </value>
    </constants>
    <constants>
        <name>CPFCNPJInvalido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>invalido</stringValue>
        </value>
    </constants>
    <constants>
        <name>CPFCNPJValido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>valido</stringValue>
        </value>
    </constants>
    <constants>
        <name>False</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>True</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>ValorSim</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decide_pessoa_fisica_ou_juridica</name>
        <label>Decide pessoa física ou jurídica</label>
        <locationX>459</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Seleciona_PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_tipo_de_pessoa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pessoa_fisica</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_de_conversao_PF</targetReference>
            </connector>
            <label>Seleciona PF</label>
        </rules>
        <rules>
            <name>Seleciona_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecione_o_tipo_de_pessoa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pessoa_juridica</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_de_conversao_PJ</targetReference>
            </connector>
            <label>Seleciona PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_um_contato_comercial_com_mesmo_CNPJ</name>
        <label>Existe um contato comercial com mesmo CNPJ</label>
        <locationX>571</locationX>
        <locationY>750</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Ja_existe_um_contato_comercial_com_mesmo_CNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetornoValidacaoCPFCNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPFCNPJInvalido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaDecisaoQuandoContatoJaExiste</targetReference>
            </connector>
            <label>Já existe um contato comercial com mesmo CNPJ</label>
        </rules>
        <rules>
            <name>Nao_existe_um_contato_comercial_com_o_mesmo_CNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetornoValidacaoCPFCNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPFCNPJValido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Altera_RecordType_para_business_account</targetReference>
            </connector>
            <label>Não existe um contato comercial com o mesmo CNPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_um_contato_comercial_com_mesmo_CPF</name>
        <label>Existe um contato comercial com mesmo CPF</label>
        <locationX>366</locationX>
        <locationY>748</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Ja_existe_um_contato_comercial_com_mesmo_CPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetornoValidacaoCPFCNPJ</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CPFCNPJValido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaDecisaoQuandoContatoJaExiste</targetReference>
            </connector>
            <label>Já existe um contato comercial com mesmo CPF</label>
        </rules>
        <rules>
            <name>Nao_existe_um_contato_comercial_com_o_mesmo_CPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetornoValidacaoCPFCNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPFCNPJValido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_dados_inf_de_contato</targetReference>
            </connector>
            <label>Não existe um contato comercial com o mesmo CPF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marca_desejada_nao_encontrada</name>
        <label>Marca desejada não encontrada</label>
        <locationX>381</locationX>
        <locationY>1756</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MarcaNaoSelecionada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_sem_marca</targetReference>
            </connector>
            <label>MarcaNaoSelecionada</label>
        </rules>
        <rules>
            <name>MarcaSelecionada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_PF_com_marca</targetReference>
            </connector>
            <label>MarcaSelecionada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marca_desejada_nao_encontrada_CNPJ</name>
        <label>Marca desejada não encontrada CNPJ</label>
        <locationX>621</locationX>
        <locationY>1896</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MarcaNaoSelecionada_CNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_sem_marca_CNPJ</targetReference>
            </connector>
            <label>MarcaNaoSelecionadaCNPJ</label>
        </rules>
        <rules>
            <name>MarcaSelecionada_CNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_PJ_com_marca</targetReference>
            </connector>
            <label>MarcaSelecionadaCNPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marca_encontrada_no_sistema</name>
        <label>Marca encontrada no sistema?</label>
        <locationX>374</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Marca_nao_encontrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_sem_marca</targetReference>
            </connector>
            <label>Marca não encontrada</label>
        </rules>
        <rules>
            <name>Marca_encontrada_decisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exibe_marcas</targetReference>
            </connector>
            <label>Marca encontrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marca_encontrada_no_sistema_0</name>
        <label>Marca encontrada no sistema?</label>
        <locationX>623</locationX>
        <locationY>1639</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Marca_nao_encontrada_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cadastra_contato_comercial_sem_marca_CNPJ</targetReference>
            </connector>
            <label>Marca não encontrada</label>
        </rules>
        <rules>
            <name>Marca_encontrada_decisao_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdMarca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exibe_marcas_CNPJ</targetReference>
            </connector>
            <label>Marca encontrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>RetornarAoInicioDoCadastro</name>
        <label>RetornarAoInicioDoCadastro</label>
        <locationX>1049</locationX>
        <locationY>942</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Voltar_para_o_inicio_do_cadastro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_voltar_para_o_inicio_do_cadastro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EscolhePF_PJ</targetReference>
            </connector>
            <label>Voltar para o início do cadastro</label>
        </rules>
        <rules>
            <name>Encerrar_o_cadastro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_voltar_para_o_inicio_do_cadastro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FimDoProcesso</targetReference>
            </connector>
            <label>Encerrar o cadastro</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaDadosContatoCNPJ</name>
        <label>ValidaDadosContatoCNPJ</label>
        <locationX>819</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>Dados_de_endereco_CNPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DadosInvalidosCNPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celular_CNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>E_mail_comercial_CNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefone_comercial_CNPJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DadosDeContatoEmBrancoCNPJ</targetReference>
            </connector>
            <label>DadosInvalidosCNPJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaDadosContatoCPF</name>
        <label>ValidaDadosContatoCPF</label>
        <locationX>143</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Dados_de_endereco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DadosInvalidosCPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celular_CPF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>E_mail_comercial_CPF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefone_comercial_CPF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DadosDeContatoEmBrancoCPF</targetReference>
            </connector>
            <label>DadosInvalidosCPF</label>
        </rules>
    </decisions>
    <description>Converte os prospects em contatos comerciais.</description>
    <dynamicChoiceSets>
        <name>Marcas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Marca_pretendida_CPF</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RecordType_Marca</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdMarca</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TW1_UF__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>Var_RecordType_Marca</name>
        <dataType>String</dataType>
        <expression>{!$Label.TW1_ID_tipo_conta_marca}</expression>
    </formulas>
    <formulas>
        <name>Var_RecordType_TipoContatocomercialPF</name>
        <dataType>String</dataType>
        <expression>{!$Label.TW1_ID_tipo_conta_comercial_PF}</expression>
    </formulas>
    <formulas>
        <name>Var_RecordType_TipoContatocomercialPJ</name>
        <dataType>String</dataType>
        <expression>{!$Label.TW1_ID_tipo_conta_comercial_PJ}</expression>
    </formulas>
    <interviewLabel>Conversor de Prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversor de Prospect</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Associa_contato_comercial_a_marca_insert</name>
        <label>Associa contato comercial a marca insert</label>
        <locationX>387</locationX>
        <locationY>2155</locationY>
        <assignRecordIdToReference>IDInsertSucesso</assignRecordIdToReference>
        <connector>
            <targetReference>Contato_Criado_com_sucesso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdMarca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordLookups>
        <name>Procura_marca_CNPJ</name>
        <label>Procura marca</label>
        <locationX>623</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marca_encontrada_no_sistema_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Marca_pretendida_CNPJ</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RecordType_Marca</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdMarca</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Procura_marca_CPF</name>
        <label>Procura marca</label>
        <locationX>370</locationX>
        <locationY>1366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marca_encontrada_no_sistema</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Marca_pretendida_CPF</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RecordType_Marca</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdMarca</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recupera_dados_do_prospect</name>
        <label>Recupera dados do prospect</label>
        <locationX>457</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EscolhePF_PJ</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>EmailProspect</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CelularPospect</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefoneProspect</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MarcaPretendidaProspect</assignToReference>
            <field>TW1_Marca_pretendida__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Seleciona_Id_do_contato</name>
        <label>Seleciona Id do contato</label>
        <locationX>384</locationX>
        <locationY>2021</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associa_contato_comercial_a_marca_insert</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PersonContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Altera_RecordType_para_business_account</name>
        <label>Altera RecordType para business account</label>
        <locationX>613</locationX>
        <locationY>1011</locationY>
        <connector>
            <targetReference>Preenche_dados_inf_de_contato_CNPJ</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordType_TipoContatocomercialPJ</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cadastra_contato_comercial_PF_com_marca</name>
        <label>Cadastra contato comercial PF com marca</label>
        <locationX>386</locationX>
        <locationY>1872</locationY>
        <connector>
            <targetReference>Seleciona_Id_do_contato</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CEP_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordType_TipoContatocomercialPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Av_Rua__c</field>
            <value>
                <elementReference>Av_Rua_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Bairro__c</field>
            <value>
                <elementReference>Bairro_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_CPF__c</field>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Celular__c</field>
            <value>
                <elementReference>Celular_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Cidade__c</field>
            <value>
                <elementReference>Cidade_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Complemento__c</field>
            <value>
                <elementReference>Complemento_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conta_convertida__c</field>
            <value>
                <elementReference>ValorSim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email_comercial__c</field>
            <value>
                <elementReference>E_mail_comercial_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Numero__c</field>
            <value>
                <elementReference>Numero_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Telefone_comercial__c</field>
            <value>
                <elementReference>Telefone_comercial_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_UF__c</field>
            <value>
                <elementReference>UF_CPF</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cadastra_contato_comercial_PJ_com_marca</name>
        <label>Cadastra contato comercial PJ com marca</label>
        <locationX>622</locationX>
        <locationY>2079</locationY>
        <connector>
            <targetReference>Contato_Criado_com_sucesso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CEP_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdMarca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordType_TipoContatocomercialPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Av_Rua__c</field>
            <value>
                <elementReference>Av_Rua_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Bairro__c</field>
            <value>
                <elementReference>Bairro_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_CNPJ__c</field>
            <value>
                <elementReference>CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Celular__c</field>
            <value>
                <elementReference>Celular_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Cidade__c</field>
            <value>
                <elementReference>Cidade_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Complemento__c</field>
            <value>
                <elementReference>Complemento_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conta_convertida__c</field>
            <value>
                <elementReference>ValorSim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email_comercial__c</field>
            <value>
                <elementReference>E_mail_comercial_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Numero__c</field>
            <value>
                <elementReference>Numero_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Razao_Social__c</field>
            <value>
                <elementReference>Razao_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Telefone_comercial__c</field>
            <value>
                <elementReference>Telefone_comercial_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_UF__c</field>
            <value>
                <elementReference>UF_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cadastra_contato_comercial_sem_marca</name>
        <label>Cadastra contato comercial sem marca</label>
        <locationX>75</locationX>
        <locationY>1953</locationY>
        <connector>
            <targetReference>Contato_Criado_com_sucesso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CEP_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordType_TipoContatocomercialPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Av_Rua__c</field>
            <value>
                <elementReference>Av_Rua_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Bairro__c</field>
            <value>
                <elementReference>Bairro_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_CPF__c</field>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Celular__c</field>
            <value>
                <elementReference>Celular_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Cidade__c</field>
            <value>
                <elementReference>Cidade_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Complemento__c</field>
            <value>
                <elementReference>Complemento_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conta_convertida__c</field>
            <value>
                <elementReference>ValorSim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email_comercial__c</field>
            <value>
                <elementReference>E_mail_comercial_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Marca_pretendida__c</field>
            <value>
                <elementReference>Marca_pretendida_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Numero__c</field>
            <value>
                <elementReference>Numero_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Telefone_comercial__c</field>
            <value>
                <elementReference>Telefone_comercial_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_UF__c</field>
            <value>
                <elementReference>UF_CPF</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cadastra_contato_comercial_sem_marca_CNPJ</name>
        <label>Cadastra contato comercial sem marca</label>
        <locationX>925</locationX>
        <locationY>1990</locationY>
        <connector>
            <targetReference>Contato_Criado_com_sucesso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CEP_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordType_TipoContatocomercialPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Av_Rua__c</field>
            <value>
                <elementReference>Av_Rua_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Bairro__c</field>
            <value>
                <elementReference>Bairro_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_CNPJ__c</field>
            <value>
                <elementReference>CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Celular__c</field>
            <value>
                <elementReference>Celular_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Cidade__c</field>
            <value>
                <elementReference>Cidade_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Complemento__c</field>
            <value>
                <elementReference>Complemento_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Conta_convertida__c</field>
            <value>
                <elementReference>ValorSim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email_comercial__c</field>
            <value>
                <elementReference>E_mail_comercial_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Marca_pretendida__c</field>
            <value>
                <elementReference>Marca_pretendida_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Numero__c</field>
            <value>
                <elementReference>Numero_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Razao_Social__c</field>
            <value>
                <elementReference>Razao_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Telefone_comercial__c</field>
            <value>
                <elementReference>Telefone_comercial_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_UF__c</field>
            <value>
                <elementReference>UF_CNPJ</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Contato_Criado_com_sucesso</name>
        <label>Contato Criado com sucesso</label>
        <locationX>393</locationX>
        <locationY>2336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagemsucesso</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;O prospect &lt;B&gt;{!NomePropect} &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!SobrenomeProspect}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt; foi convertido com sucesso!&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Dados_de_endereco</name>
        <label>Dados de endereço CPF</label>
        <locationX>367</locationX>
        <locationY>1135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Preenche_Marca_pretendida_CPF</targetReference>
        </connector>
        <fields>
            <name>Endereco</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Endereço&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CEP_CPF</name>
            <dataType>String</dataType>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Favor preencher o campo CEP no formato 12345-678</errorMessage>
                <formulaExpression>REGEX({!CEP_CPF},&quot;\\d{5}(-\\d{3})?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Av_Rua_CPF</name>
            <dataType>String</dataType>
            <fieldText>Av./Rua</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numero_CPF</name>
            <dataType>Number</dataType>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Espaco5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complemento_CPF</name>
            <dataType>String</dataType>
            <fieldText>Complemento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bairro_CPF</name>
            <dataType>String</dataType>
            <fieldText>Bairro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cidade_CPF</name>
            <dataType>String</dataType>
            <fieldText>Cidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UF_CPF</name>
            <choiceReferences>UF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>UF</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Dados_de_endereco_CNPJ</name>
        <label>Dados de endereço CNPJ</label>
        <locationX>621</locationX>
        <locationY>1270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Preenche_Marca_pretendida_CNPJ</targetReference>
        </connector>
        <fields>
            <name>Endereco_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Endereço&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CEP_CNPJ</name>
            <dataType>String</dataType>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Favor preencher o campo CEP no formato 12345-678</errorMessage>
                <formulaExpression>REGEX({!CEP_CNPJ},&quot;\\d{5}(-\\d{3})?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Av_Rua_CNPJ</name>
            <dataType>String</dataType>
            <fieldText>Av./Rua</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numero_CNPJ</name>
            <dataType>Number</dataType>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Espaco14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complemento_CNPJ</name>
            <dataType>String</dataType>
            <fieldText>Complemento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bairro_CNPJ</name>
            <dataType>String</dataType>
            <fieldText>Bairro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cidade_CNPJ</name>
            <dataType>String</dataType>
            <fieldText>Cidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Espaco17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UF_CNPJ</name>
            <choiceReferences>UF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>UF</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DadosDeContatoEmBrancoCNPJ</name>
        <label>DadosDeContatoEmBrancoCNPJ</label>
        <locationX>827</locationX>
        <locationY>1304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DadosContatoNulosCNPJ</name>
            <fieldText>Favor preencher celular, e-mail ou telefone.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>DadosDeContatoEmBrancoCPF</name>
        <label>DadosDeContatoEmBrancoCPF</label>
        <locationX>144</locationX>
        <locationY>1144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DadosContatoNulosCPF</name>
            <fieldText>Favor preencher celular, e-mail ou telefone.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>EscolhePF_PJ</name>
        <label>EscolhePF/PJ</label>
        <locationX>458</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_pessoa_fisica_ou_juridica</targetReference>
        </connector>
        <fields>
            <name>Selecione_o_tipo_de_pessoa</name>
            <choiceReferences>Pessoa_fisica</choiceReferences>
            <choiceReferences>Pessoa_juridica</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o tipo de pessoa</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Exibe_marcas</name>
        <label>Exibe marcas</label>
        <locationX>379</locationX>
        <locationY>1641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Marca_desejada_nao_encontrada</targetReference>
        </connector>
        <fields>
            <name>MarcasEncontradas</name>
            <fieldText>O sistema encontrou as marcas listadas abaixo, favor selecionar a marca desejada.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecione_uma_marca</name>
            <choiceReferences>Marcas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione uma marca</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Exibe_marcas_CNPJ</name>
        <label>Exibe marcas</label>
        <locationX>621</locationX>
        <locationY>1773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Marca_desejada_nao_encontrada_CNPJ</targetReference>
        </connector>
        <fields>
            <name>MarcasEncontradas_0</name>
            <fieldText>O sistema encontrou as marcas listadas abaixo, favor selecionar a marca desejada.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecione_uma_marca_CNPJ</name>
            <choiceReferences>Marcas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione uma marca</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>FimDoProcesso</name>
        <label>FimDoProcesso</label>
        <locationX>1054</locationX>
        <locationY>1110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fim</name>
            <fieldText>Processo de conversão encerrado!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Preenche_dados_inf_de_contato</name>
        <label>Preenche dados inf de contato CPF</label>
        <locationX>365</locationX>
        <locationY>1000</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidaDadosContatoCPF</targetReference>
        </connector>
        <fields>
            <name>Celular_CPF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CelularPospect</elementReference>
            </defaultValue>
            <fieldText>Celular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Número de celular inválido.</errorMessage>
                <formulaExpression>REGEX({!Celular_CPF},&quot;[0-9-+()\\-\\s]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefone_comercial_CPF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefoneProspect</elementReference>
            </defaultValue>
            <fieldText>Telefone comercial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Telefone comercial inválido</errorMessage>
                <formulaExpression>REGEX({!Telefone_comercial_CPF},&quot;[0-9-+()\\-\\s]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E_mail_comercial_CPF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailProspect</elementReference>
            </defaultValue>
            <fieldText>E-mail comercial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Formato de e-mail inválido</errorMessage>
                <formulaExpression>REGEX ( UPPER ({!E_mail_comercial_CPF}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Preenche_dados_inf_de_contato_CNPJ</name>
        <label>Preenche dados inf de contato CNPJ</label>
        <locationX>625</locationX>
        <locationY>1136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidaDadosContatoCNPJ</targetReference>
        </connector>
        <fields>
            <name>Celular_CNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CelularPospect</elementReference>
            </defaultValue>
            <fieldText>Celular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Número de celular inválido.</errorMessage>
                <formulaExpression>REGEX({!Celular_CNPJ},&quot;[0-9-+()\\-\\s]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefone_comercial_CNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefoneProspect</elementReference>
            </defaultValue>
            <fieldText>Telefone comercial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Número de telefone inválido.</errorMessage>
                <formulaExpression>REGEX({!Telefone_comercial_CNPJ},&quot;[0-9-+()\\-\\s]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E_mail_comercial_CNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailProspect</elementReference>
            </defaultValue>
            <fieldText>E-mail comercial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Formato de e-mail inválido.</errorMessage>
                <formulaExpression>REGEX ( UPPER ({!E_mail_comercial_CNPJ}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Preenche_Marca_pretendida_CNPJ</name>
        <label>Preenche Marca pretendida CNPJ</label>
        <locationX>623</locationX>
        <locationY>1385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Procura_marca_CNPJ</targetReference>
        </connector>
        <fields>
            <name>Marca_pretendida_CNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MarcaPretendidaProspect</elementReference>
            </defaultValue>
            <fieldText>Marca pretendida</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Preenche_Marca_pretendida_CPF</name>
        <label>Preenche Marca pretendida CPF</label>
        <locationX>368</locationX>
        <locationY>1253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Procura_marca_CPF</targetReference>
        </connector>
        <fields>
            <name>Marca_pretendida_CPF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MarcaPretendidaProspect</elementReference>
            </defaultValue>
            <fieldText>Marca pretendida</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Tela_de_conversao_PF</name>
        <label>Tela de conversão PF</label>
        <locationX>367</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>

        <fields>
            <name>CPF</name>
            <dataType>String</dataType>
            <fieldText>CPF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Favor preencher o campo CPF apenas com números.</errorMessage>
                <formulaExpression>REGEX({!CPF},&quot;[a-zA-Z0-9]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Tela_de_conversao_PJ</name>
        <label>Tela de conversão PJ</label>
        <locationX>567</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>

        <fields>
            <name>CNPJ</name>
            <dataType>String</dataType>
            <fieldText>CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Favor preencher o campo CNPJ apenas com números.</errorMessage>
                <formulaExpression>REGEX({!CNPJ},&quot;[a-zA-Z0-9]+&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Espaco0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Razao_social</name>
            <dataType>String</dataType>
            <fieldText>Razão social</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TelaDecisaoQuandoContatoJaExiste</name>
        <label>TelaDecisaoQuandoContatoJaExiste</label>
        <locationX>490</locationX>
        <locationY>941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RetornarAoInicioDoCadastro</targetReference>
        </connector>
        <fields>
            <name>MsgContatoExistente</name>
            <fieldText>Este nº de docuento é inválido ou já existe um contato cadastrado com este mesmo nº de documento.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deseja_voltar_para_o_inicio_do_cadastro</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Deseja voltar para o início do cadastro?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Recupera_dados_do_prospect</startElementReference>
    <variables>
        <name>CadastroRealizado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CelularPospect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CNPJContatoComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPFContatoComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataCriacaoContatoComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDInsertSucesso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdMarca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarcaPretendidaProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomePropect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeProprietarioContatoComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProprietarioDaContaComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recebe o Id do prospect que será convertido</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetornoValidacaoCPFCNPJ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SobrenomeProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefoneProspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoDePessoa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
