flows/Fluxo_criar_Conta_Pessial_do_Fale_Conosco-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>VarPrimeiroNome</name>
        <dataType>String</dataType>
        <expression>LEFT({!VarNomeCompletoWTC},FIND(&quot; &quot;, {!VarNomeCompletoWTC}))</expression>
    </formulas>
    <formulas>
        <name>VarSobreNome</name>
        <dataType>String</dataType>
        <expression>RIGHT({!VarNomeCompletoWTC}, LEN({!VarNomeCompletoWTC}) - FIND(&quot; &quot;, {!VarNomeCompletoWTC}))</expression>
    </formulas>
    <interviewLabel>Fluxo criar Conta Pessial do Fale Conosco {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo criar Conta Pessial do Fale Conosco</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Conta_Pessoal_Fale_Conosco</name>
        <label>Criar Conta Pessoal Fale Conosco</label>
        <locationX>219</locationX>
        <locationY>34</locationY>
        <assignRecordIdToReference>VarIdContaCriada</assignRecordIdToReference>
        <connector>
            <targetReference>Pesquisar_Contato_da_Conta_Pessoal</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VarPrimeiroNome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VarSobreNome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>VarEmailWTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>VarTelefoneWTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarIdPersonAccountIdRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TW1_Email__c</field>
            <value>
                <elementReference>VarEmailWTC</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Pesquisar_Caso_criado_Fale_Conosco</name>
        <label>Pesquisar Caso criado Fale Conosco</label>
        <locationX>61</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criar_Conta_Pessoal_Fale_Conosco</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarEmailWTC</assignToReference>
            <field>TW1_Email_do_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNomeCompletoWTC</assignToReference>
            <field>TW1_NomeCompleto_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTelefoneWTC</assignToReference>
            <field>TW1_Telefone_do_Cliente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pesquisar_Contato_da_Conta_Pessoal</name>
        <label>Pesquisar Contato da Conta Pessoal</label>
        <locationX>376</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Conta_Contato_no_Caso</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIdContaCriada</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarIdContatoContaPessoal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Conta_Contato_no_Caso</name>
        <label>Atualizar Conta e Contato no Caso</label>
        <locationX>530</locationX>
        <locationY>34</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarIdContaCriada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarIdContatoContaPessoal</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Pesquisar_Caso_criado_Fale_Conosco</startElementReference>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEmailWTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIdContaCriada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIdContaExiste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIdContatoContaPessoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIdPersonAccountIdRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0120R0000009BRp</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarNomeCompletoWTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTelefoneWTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
